<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>스프링부트 게시글 작성</title>
<link rel="stylesheet" href="/css/header.css">
<!--<link rel="stylesheet" href="/css/insertForm.css">-->
<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
  <div th:replace="~{/fragments/header.html :: fragment-menu}"></div>
  <h1 align="center">게 시 글 작 성</h1>
  <div class="insert">
    <form class="insert_form" action="insertBoard" method="post">
      <table align="center">
        <tr>
          <th>작성자</th>
          <td>
			  <input name="writer" th:value="${loginUser.id}" readonly>
		  </td>
        </tr>
        <tr>
          <th>제목</th>
          <td><input name="title"></td>
        </tr>
        <tr>
          <th>내용</th>
          <td><textarea name="content" id="content"></textarea></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="등록"> <input type="reset" value="작성취소"></td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>